@import "tailwindcss";

/* On force le fond sombre sur tout le site */
body {
  background-color: #0a0a0a;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Optionnel : une barre de défilement (scrollbar) stylée pour le côté pro */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background: #ca8a04; /* Couleur amber-600 */
  border-radius: 10px;
}
.outline-text {
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.2);
  color: transparent;
}
